body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0;
	display: block;
}
body{
	font-family: "微软雅黑";
}

/* #box {
	width: 500px;
	height: 300px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	top: 200px;
	border: 1px solid black;
	background: url('../img/0.jpg');
}
.banner .left{
	width: 40px;
	height: 100px;
	background-color: rgba(0, 0, 0, .8);
	position: absolute;
	left: 0;
	top: 470px;
}
.banner .right{
	width: 40px;
	height: 100px;
	background-color: rgba(0, 0, 0, .8);
	position: absolute;
	right: 0;
	top: 470px;
}
#btnLeft {
	color: #fff;
	font-size: 40px;
	width: 32px;
	height: 44px;
	border: 0;
	background-image: url(../img/index/homeslide_arrow.png);
	background-repeat: no-repeat;
	background-position: 0 -45px;
	background-color: transparent;
	position: absolute;
	left: 5px;
	top: 30px;
}
#btnRight {
	color: #fff;
	font-size: 40px;
	width: 32px;
	height: 44px;
	border: 0;
	background-image: url(../img/index/homeslide_arrow.png);
	background-repeat: no-repeat;
	background-position: 5px 0;
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 30px;
}
#btnLeft:hover,#btnRight:hover{
	cursor: pointer;
}
.active {
	font-weight: bold;
	text-decoration: overline;
} */

.slide{
	width: 100%;
	height: 593.2px;
	margin: 0 auto;
	/* border: 5px solid #CCC; */
	position: relative;
	overflow: hidden;
}
/* 导航点 */
/* .tabs .slide-nav{
	position: absolute;
	z-index: 2;
	bottom: 10px;
	right: 10px;
}
.tabs .slide-nav>li{
	width: 10px;
	height: 10px;
	border: 2px solid #CCC;
	border-radius: 50%;
	float: left;
	margin-left: 5px;
	cursor: pointer;
} */
.tabs .slide-nav>li.active{
	/* background-color: #FFF;
	border-color: #FFF; */
	font-weight: bold;
	text-decoration: overline;
}
/* #导航点 */
/* 轮播内容 */
.slide .slide-content{
	position: relative;
	z-index: 1;
	top: 0;
	width: 99999px;
	height: 593.2px;
}
.slide .slide-content .slide-item{
	float: left;
	/* width: 100%; */
	width: 1519px;
	height: 593.2px;
}
.slide .slide-content .slide-item>img{
	width: 100%;
	/* width: 1519px; */
	height: 593.2px;
}
/* #轮播内容 */
/* 按钮 */
/* .slide .slide-btn{
	display: block;
	width: 50px;
	height: 100px;
	position: absolute;
	z-index: 2;
}
.slide .prev{
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.slide .next{
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
} */
/* .slide a:hover{
	background-color: rgba(0, 0, 0, .8);
} */

.banner .left{
	width: 40px;
	height: 100px;
	background-color: rgba(0, 0, 0, .8);
	position: absolute;
	left: 0;
	top: 260px;
	z-index: 10;
}
.banner .right{
	width: 40px;
	height: 100px;
	background-color: rgba(0, 0, 0, .8);
	position: absolute;
	right: 0;
	top: 260px;
	z-index: 10;
}
#btnLeft {
	color: #fff;
	font-size: 40px;
	width: 32px;
	height: 44px;
	border: 0;
	background-image: url(../img/index/homeslide_arrow.png);
	background-repeat: no-repeat;
	background-position: 0 -45px;
	background-color: transparent;
	position: absolute;
	left: 5px;
	top: 30px;
}
#btnRight {
	color: #fff;
	font-size: 40px;
	width: 32px;
	height: 44px;
	border: 0;
	background-image: url(../img/index/homeslide_arrow.png);
	background-repeat: no-repeat;
	background-position: 5px 0;
	background-color: transparent;
	background-color: #000;
	position: absolute;
	right: 0;
	top: 30px;
}
#btnLeft:hover,#btnRight:hover{
	cursor: pointer;
}