ul,p,ol,dl,dd,h1,h2,h3,h5,h4,h6,hr,td,input,body,option,textarea,fieldset,legend{margin:0; padding: 0;}
a{text-decoration: none; color: #000;}
body{font-family: "microsoft yahei";font-size: 12px;}
li{list-style:none;}
input,textarea,select,area{outline: none;}
img{vertical-align: top; /*display:block*/ border:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight: normal;}
em,i{font-style: normal;}
.clear:after{content: ""; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden;}
.clear{zoom:1;}
table{border-collapse: collapse;}
.fl{float:left;}
.fr{float:right;}