body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0;
	display: block;
}
body{
	font-family: "微软雅黑";
}

/* chatImg */
#chatImg{
	width: 88px;
	height: 88px;
	position: absolute;
	right: 0;
	z-index: 9999;
}

.HEADER{
	/* width: 100%;
	position: fixed;
	z-index: 999; */
	position: sticky;
	top: 0;
	z-index: 999;
}

/* header */
header{
	width: 100%;
	height: 80px;
	background-color: #000;
	/* position: relative; */
	/* position: fixed;
	z-index: 999; */
}
header a{
	float: left;
}
header img{
	padding-left: 68px;
	padding-top: 26px;
}
header .header_right{
	width: 690px;
	height: 80px;
	float: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.header_right span{
	/* display: block; */
	font-size: 12px;
	color: #fff;
	line-height: 80px;
	/* clear: both; */
}
.header_right .login,.reg:hover{
	cursor: pointer;
}
.header_right span:hover{
	text-decoration: underline;
}
.header_right .reg-icon{
	width: 30px;
	height: 30px;
	margin-left: 23px;
	margin-right: 40px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -96px -86px;
}
.header_right .reg-icon:hover{
	background-position: -136px -66px;
	cursor: pointer;
}
.header_right .cart-icon{
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	margin-left: 23px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -168px -97px;
}
.header_right .chat-icon{
	width: 30px;
	height: 30px;
	margin-left: 63px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -95px -54px;
}
.header_right .chat-icon:hover{
	background-position: -135px -33px;
	cursor: pointer;
}
.header_right .search-icon{
	width: 30px;
	height: 30px;
	margin-left: 63px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -137px -161px;
}
.header_right .search-icon:hover{
	background-position: -135px -1px;
	cursor: pointer;
}
.header_right .help-icon{
	width: 30px;
	height: 30px;
	margin-left: 63px;
	margin-right: 63px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -169px -161px;
}
.header_right .help-icon:hover{
	background-position: -167px -1px;
	cursor: pointer;
}
.header_right .point{
	display: block;
	width: 0;
	height: 0;
	/* margin-left: 51px;
	margin-top: 3px; */
	border: 14px solid transparent;
	border-top-color: #000;
	position: absolute;
	left: 195px;
	top: 80px;
	display: none;
}

/* header_search 搜索下拉框 */
.header_search{
	width: 100%;
	height: 80px;
	background-color: #fff;
	position: relative;
	display: none;
}
.header_search .search-main{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}
.header_search .search-main input{
	width: 100%;
	height: 100%;
	line-height: 40px;
	color: #999;
	font-size: 24px;
	border-width: 0;
	padding: 0;
}
.header_search .search-main input::placeholder{
	color: #999;
}
.header_search .search-main .search-main-btn{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 20px;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header_search .search-main .search-main-btn span{
	display: block;
	width: 30px;
	height: 30px;
}
.header_search .search-main .search-main-btn .s1{
	background-image: url(../img/index/sprites_header_footer.png);
	background-position: -137px -161px;
}
.header_search .search-main .search-main-btn .s2{
	background-image: url(../img/index/sprites_header_footer.png);
	background-position: -169px -130px;
}
.header_search .search-main .search-main-btn .s1:hover{
	background-position: -135px -1px;
	cursor: pointer;
}
.header_search .search-main .search-main-btn .s2:hover{
	background-position: -137px -130px;
	cursor: pointer;
}

/* header_slide */
.header_slide{
	width: 100%;
	height: 447px;
	position: absolute;
	background-color: #fff;
	display: none;
}
.header_slide_top{
	width: 100%;
	height: 397px;
	background-color: #fff;
}
/* 这是登录 下拉框*/
.login-slide{
	max-width: 1000px;
	height: 317px;
	padding: 40px 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color: #fff;
	/* display: none; */
}
.login-slide .login-slide-left{
	width: 150px;
	height: 317px;
}
.login-slide .login-slide-left p{
	width: 100%;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}
.login-slide .login-slide-left a{
	display: block;
	width: 148px;
	height: 40px;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #000;
	color: #fff;
	background-color: #000;
}
.login-slide .login-slide-left a .s-login{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -9px -163px;
	background-attachment: scroll;
	background-color: transparent;
}
.login-slide .login-slide-left a:hover{
	color: #000;
	background-color: #fff;
}
.login-slide .login-slide-left a:hover .s-login{
	background-position: -39px -163px;
}
.login-slide .login-slide-left a span{
	vertical-align: middle;
}
.login-slide .login-slide-middle{
	height: 100%;
	border-left: 1px solid #999;
	margin: 0 6%;
}
.login-slide .login-slide-right{
	width: 300px;
	height: 344px;
}
.login-slide .login-slide-right p{
	width: 100%;
	font-size: 24px;
	margin-bottom: 20px;
}
.login-slide .login-slide-right .cell,.pwd{
	width: 298px;
	height: 40px;
	line-height: 38px
	text-indent: 20px;
	border: 1px solid #b7b7b7;
}
.login-slide .login-slide-right .error{
	display: inline-block;
	width: auto;
	height: 14px;
	/* color: #f00; */
	font-size: 12px;
	line-height: 14px;
	/* margin-bottom: 20px; */
	/* display: none; */
}
.login-slide .login-slide-right input::placeholder{
	color: #999;
	font-size: 12px;
	text-indent: 20px;
}
.login-slide .login-slide-right .check{
	/* display: inline-block; */
	width: 300px;
	height: 45px;
	text-indent: 30px;
	position: relative;
	pointer-events: none;
}
.login-slide .login-slide-right .check .text{
	color: #333;
	font-size: 12px;
}
.login-slide .login-slide-right .check::before{
	content: "";
	width: 18px;
	height: 18px;
	border: 2px solid #000;
	cursor: pointer;
	position: absolute;
	left: 0;
	pointer-events: auto;
}
.check-choose::before{
	background: url(../img/index/cart-sprite1.png) no-repeat scroll -3px -180px transparent;
}
.login-slide .login-slide-right .click-login{
	display: block;
	width: 298px;
	height: 40px;
	color: #fff;
	background-color: #000;
	font-size: 18px;
	text-align: center;
	line-height: 38px;
	border: 1px solid #000;
	margin-bottom: 8px;
}
.login-slide .login-slide-right .click-login .s-c-login{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -9px -163px;
	background-attachment: scroll;
	background-color: transparent;
}
/* .login-slide .login-slide-right .click-login:hover{
	color: #000;
	background-color: #fff;
}
.login-slide .login-slide-right .click-login:hover .s-c-login{
	background-position: -39px -163px;
} */
.login-slide .login-slide-right .click-login span{
	vertical-align: middle;
}
.login-slide .login-slide-right ._check{
	display: flex;
	/* justify-content: space-around; */
}
.login-slide .login-slide-right ._check .text{
	color: #000;
	font-size: 14px;
}
.login-slide .login-slide-right ._check a{
	margin-left: 100px;
	text-decoration: underline;
}
/* 这是注册 */
.reg-slide{
	max-width: 1000px;
	height: 317px;
	padding: 40px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}
.reg-slide .reg-slide-left,.reg-slide-middle,.reg-slide-right{
	width: 300px;
	height: 300px;
	/* background-color: #907343; */
}
.reg-slide .reg-slide-left-first span{
	font-size: 13px;
}
.reg-slide .reg-slide-left-first .star{
	color: #f00;
}
.reg-slide .reg-slide-left-first .cell{
	width: 100%;
	height: 40px;
	max-height: 40px;	
	line-height: 40px;
	margin: 10px 0 25px 0;
	/* background-color: #907343; */
	position: relative;
}
.reg-slide .reg-slide-left-first input{
	background-color: #fff;
	border: 1px solid #999;
	width: 275px;
	height: 30px;
	line-height: 30px;
	padding: 5px 5px 5px 18px;
}
.reg-slide .reg-slide-left-first .cell-code{
	width: 129px;
}
.reg-slide .reg-slide-left-first .cell .repwd{
	width: 129px;
	height: 30px;
}
.reg-slide .reg-slide-left-first .cell a{
	display: inline-block;
	width: 141px;
	height: 42px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #848484;
}
.reg-slide .reg-slide-left-first .cell .error{
	display: inline-block;
	width: auto;
	height: 14px;
	font-size: 12px;
	position: absolute;
	top: 30px;
	left: 0;
	display: none;/*********************************/
}
.reg-slide .reg-slide-right .gender{
	display: flex;
}
.reg-slide .reg-slide-right .sex{
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-indent: 30px;
	color: #000;
	cursor: pointer;
	margin: 10px 0 25px 0;
	position: relative;
	pointer-events: none;
}
.reg-slide .reg-slide-right .sex::before{
	content: "";
	/* border: 1px solid #999; */
	border: 2px solid #000;
	height: 14px;
	width: 14px;
	margin-top: -7px;
	position: absolute;
	left: 0;
	top: 50%;
	pointer-events: auto;
}
.sex-choose::before{
	background: url(../img/index/cart-sprite1.png) no-repeat scroll -6px -182px transparent;
}
.reg-slide .reg-slide-right .bir-box{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 10px 0 25px 0;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.reg-slide .reg-slide-right .bir-box .select-box{
	width: 90px;
	height: 40px;
	border: 1px solid #ddd;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	padding-right: 30px;
	margin-right: 5%;
	cursor: pointer;
	position: relative;
}
.reg-slide .reg-slide-right .bir-box .select-box .bir-day{
	width: 83px;
	height: 242px;
	border: 1px solid #00f;
	background-color: #fff;
	overflow-y: auto;
	position: absolute;
	left: -1px;
	top: 38px;
	z-index: 1;
	display: none;
}
.bir-day-display{
	display: block;
}
.reg-slide .reg-slide-right .bir-box .select-box .bir-day li{
	display: block;
	text-align: left;
	height: 20px;
	line-height: 20px;
}
.reg-slide .reg-slide-right .bir-box .select-box .bir-day li:hover{
	color: #fff;
	background-color: #1e90ff;
	cursor: default;
}
.reg-slide .reg-slide-right .bir-box .select-box::before{
	content: "";
	background: url(../img/index/selectbg.png) no-repeat scroll center center #fff;
	border: 1px solid #ddd;
	position: absolute;
	right: -1px;
	top: -1px;
	width: 30px;
	height: 40px;
}
/* -------------------------------------- */
.reg-slide .reg-slide-right .check{
	/* display: inline-block; */
	width: 300px;
	height: 45px;
	text-indent: 30px;
	position: relative;
}
.reg-slide .reg-slide-right .check .text{
	color: #333;
	font-size: 12px;
}
.reg-slide .reg-slide-right .check::before{
	content: "";
	width: 18px;
	height: 18px;
	border: 2px solid #000;
	cursor: pointer;
	position: absolute;
	left: 0;
}
.reg-slide .reg-slide-right .click-reg{
	display: block;
	width: 298px;
	height: 40px;
	color: #fff;
	background-color: #000;
	font-size: 18px;
	text-align: center;
	line-height: 38px;
	border: 1px solid #000;
	margin-bottom: 8px;
}
.reg-slide .reg-slide-right .click-reg .s-c-reg{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -9px -163px;
	background-attachment: scroll;
	background-color: transparent;
}
.reg-slide .reg-slide-right .click-reg:hover{
	color: #000;
	background-color: #fff;
}
.reg-slide .reg-slide-right .click-reg:hover .s-c-reg{
	background-position: -39px -163px;
}
.reg-slide .reg-slide-right .click-reg span{
	vertical-align: middle;
}
/* ------------------------------------ */
.header_slide_bottom{
	width: 100%;
	height: 50px;
	background-color: #464646;
	display: flex;
	justify-content: center;
}
.nav{
	width: 114px;/***********************/
	height: 50px;
	color: #fff;
	/* background-color: #f00; */
	text-align: center;
	margin: 0 10px;
}
.nav:hover{
	cursor: pointer;
}
.nav ._nav_p1:hover{
	text-decoration: underline;
}
.nav .nav_p1{
	font-size: 18px;
	margin-top: 5px;
}
.nav .nav_p2{
	width: 0;
	height: 0;
	margin-left: 51px;
	margin-top: 3px;
	border: 6px solid transparent;
	border-top-color: #fff;
}

/* header_nav */
.header_nav{
	width: 100%;
	height: 50px;
	background-color: #464646;
	/* display: none; */
	display: flex;
	justify-content: center;
/* 	position: relative;
	top: 80px; */
	/* position: fixed;
	top: 80px;
	z-index: 999; */
}

/* header_nav_slide */
.header_nav_slide{
	width: 100%;
	height: 262px;
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 111;
}
.child{
	width: 100%;
	height: 130px;
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 111;
}
.man_top,.man_bottom{
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #b7b7b7;
	display: flex;
	justify-content: center;
}
.man_top .manNav{
	width: 130px;
	height: 130px;
	/* background-color: #B7B7B7; */
}
.manNav:hover{
	cursor: pointer;
}
.manNav:hover p{
	color: #999;
	text-decoration: underline;
}
.manNav img{
	width: 130px;
	height: 100px;
}
.manNav p{
	width: 130px;
	text-align: center;
	line-height: 15px;
	font-size: 14px;
	color: #000;
}

/* info */
.info{
	width: 100%;
	height: 58px;
	text-align: center;
	/* background-color: #B7B7B7; */
}
.info-a{
	color: #222;
	font-size: 12px;
	line-height: 14px;
}

/* banner */
.banner{
	width: 100%;
	height: 593.2px;
	/* margin-top: 58px; */
}
.banner:hover{
	cursor: pointer;
}

/* tabs */
.tabs{
	width: 100%;
	height: 36px;
	/* background-color: #B7B7B7; */
	text-align: center;
	line-height: 36px;
	font-size: 15px;
}
/* .tabs a{
	color: #000;
}
.tabs a:hover{
	font-weight: bold;
	text-decoration: overline;
} */
.tabs li{
	display: inline-block;
	color: #000;
}
.tabs li:hover{
	cursor: pointer;
	font-weight: bold;
	text-decoration: overline;
}

/* hot */
.hot,.new{
	height: 30px;
	max-width: 1000px;
	margin: 20px auto;
	position: relative;
	text-align: center;
}
.hot::before,.new::before{
	background-color: #b7b7b7;
	content:"";
	height: 1px;
	position: absolute;
	left:1.5%;
	top: 15px;
	width: 97%;
}
.hot h1,.new h1{
	font-weight: normal;
	background: none repeat scroll 0 0 #fff;
	display: inline-block;
	zoom: 1;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	padding: 0 4%;
	position: relative;
	font-size: 30px;
}

/* hotGoods */
.hotGoods{
	width: 1000px;
	height: 229.6px;
	margin: 35px auto 0;
	padding-top: 20px;
	/* background-color: #999999; */
	display: flex;
	justify-content: space-between;
}
.hotGoods-single{
	width: 240px;
	height: 229.6px;
	/* background-color: #97983f; */
}
.hotGoods-single:hover .hotGoods-single-title{
	text-decoration: underline;
}
.hotGoods-single a{
	display: block;
}
.hotGoods-single .hotGoods-single-title{
	width: 240px;
	height: 29.6px;
	color: #333;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}
.hotGoods-single .hotGoods-single-img{
	width: 240px;
	height: 200px;
}
.hotGoods-single .hotGoods-single-img img{
	width: 200px;
	height: 200px;
	margin: auto;
}

/* line */
.line{
	width: 97%;
	height: 20px;
	max-width: 1000px;
	margin-top: 20px;
	margin: 35px auto 0;
	position: relative;
	/* text-align: center; */
	padding: 0 1.5%;
}
.line::before{
	background-color: #b7b7b7;
	content:"";
	height: 1px;
	position: absolute;
	left:1.5%;
	top: 0;
	width: 97%;
}
.line .line-menu{
	/* width: 39px;
	height: 21px;
	background: url(../img/index/active.png) no-repeat scroll 0 0 transparent;
	top: 0;
	left: 12%;
	margin-left: 100px; */
}

/* goods */
.goods{
	width: 1000px;
	height: 321px;
	margin: 20px auto 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goods-border{
	border-top: 1px dotted #b7b7b7;
}
.goods-single{
	width: 250px;
	height: 300px;
	font-size: 14px;
	text-align: center;
}
.goods-single:hover{
	border: 1px solid #b7b7b7;
}
.goods-single a{
	display: block;
}
.goods-single img{
	width: 165px;
	height: 165px;
	margin: 0 auto;
	margin-bottom: 9.1%;
}
.goods-single .g-s-name{
	color: #333;
	height: 55px;
	margin-bottom: 5px;
}
.goods-btn{
	width: 1000px;
	height: 48px;
	margin: 0 auto;
	text-align: center;
}
.goods-btn a{
	display: inline-block;
	width: 420px;
	height: 46px;
	color: #fff;
	font-size: 16px;
	line-height: 46px;
	text-align: center;
	border: 1px solid #000;
	background-color: #000;
}
.goods-btn a:hover{
	color: #000;
	background-color: #fff;
}
.goods-btn a:hover .s2{
	background-position: -39px -163px;
}
/* @keyframes goods-btn{
		0%{
			background-position:-9px -163px;
		}	
		100%{
			background-position:-39px -163px;
		}
	}
	.goods-btn a .s2{
		animation: goods-btn .8s infinite steps(7,start);
	} */
.goods-btn a span{
	vertical-align: middle;
}
.goods-btn a .s2{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -9px -163px;
	background-attachment: scroll;
	background-color: transparent;
}

/* street */
.street{
	max-width: 1000px;
	height: 535.93px;
	margin: 40px auto 0;
}
.street-title{
	width: 100%;
	height: 40px;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	background-color: #464646;
}
.street-title img{
	display: inline-block;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	margin: auto 11px auto 20px;
}
.street-main{
	width: 100%;
	height: 478px;
	margin: 20px auto 0;
	display: flex;
	justify-content: space-between;
}
.street-main-content{
	width: 488px;
	height: 476px;
	position: relative;
}
.street-main-content .content img{
	width: 488px;
	height: 365px;
}
.street-main-content .content .mask{
	width: 488px;
	height: 365px;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .4;
	display: none;
}
.street-main-content .content:hover .mask{
	display: block;
}
.street-main-content .content{
	display: block;
	width: 488px;
	height: 368px;
	/* border: 1px solid #b7b7b7; */
}
.street-main-content .text{
	color: #000;
	font-size: 24px;
	margin: 17px 0;
}
.street-main-content .text:hover{
	text-decoration: underline;
	color: #b7b7b7;
}
.street-main-content .more-btn{
	margin-top: 16px;
}
.street-main-content .more-btn a{
	line-height: 48px;
	font-size: 16px;
	height: 48px;
	padding: 0 3px 0 7px;
	border: 1px solid #000;
	text-align: center;
	display: inline-block;
	zoom: 1;
	width: 38%;
	background-color: #000;
	color: #fff;
}
.more-btn a:hover{
	color: #000;
	background-color: #fff;
}
.more-btn a:hover .s{
	background-position: -39px -163px;
}
.more-btn a span{
	vertical-align: middle;
}
.more-btn .s{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -9px -163px;
	background-attachment: scroll;
	background-color: transparent;
	margin-left: 13px;
}

/* cool */
.cool{
	max-width: 1000px;
	height: 394px;
	margin: 40px auto 0;
}
.cool-main{
	width: 100%;
	height: 334px;
	margin: 20px auto 0;
	display: flex;
	justify-content: space-between;
}
.cool-main-content{
	width: 320px;
	height: 334px;
}
.cool-main-content .cool-img{
	display: block;
	width: 322px;
	height: 242px;
	position: relative;
}
.cool-main-content .cool-img:hover .mask{
	display: block;
}
.cool-main-content .cool-img .mask{
	width: 322px;
	height: 242px;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .4;
	display: none;
}
.cool-main-content .text{
	color: #000;
	font-size: 24px;
	margin: 13px 0;
}
.cool-main-content .text:hover{
	text-decoration: underline;
	color: #b7b7b7;
}
.cool-main-content .look-more{
	width: 320px;
	height: 42px;
}
.cool-main-content .look-more a{
	line-height: 42px;
	font-size: 18px;
	height: 42px;
	padding: 0;
	text-align: left;
	display: inline-block;
	zoom: 1;
	/* width: 33%; */
	background-color: #fff;
	color: #333;
}
.cool-main-content .look-more a .s1{
	
	text-decoration: underline;
}
.cool-main-content .look-more a:hover{
	color: #b7b7b7;
}
.cool-main-content .look-more a:hover .s{
	opacity: .3;
}
.cool-main-content .look-more a span{
	vertical-align: middle;
}
.cool-main-content .look-more a .s{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../img/index/sprites_header_footer.png);
	background-repeat: no-repeat;
	background-position: -39px -163px;
	background-attachment: scroll;
	background-color: transparent;
	margin-left: 13px;
}

/* attention */
.attention{
	width: 100%;
	height: 360px;
	text-align: center;
	color: #fff;
	background-color: #464646;
}
.attention h1{
	font-size: 30px;
	margin: 78px auto 35px;
	display: inline-block;
}
.attention p{
	font-size: 16px;
	line-height: 24px;
}
.attention .link{
	width: 525px;
	height: 155px;
	margin: 37px auto 0;
	text-align: center;
	display: flex;
}
.attention .link a{
	display: block;
	width: 75px;
	height: 75px;
	margin: 0 15px;
	padding: 0;
	background: url(../img/index/share.png) no-repeat transparent;
}
.attention .link .wechat{
	background-position: 0 -75px;
}
.attention .link .qqwb{
	background-position: 0 -150px;
}
.attention .link .renren{
	background-position: 0 -225px;
}
.attention .link .douban{
	background-position: 0 -300px;
}
.attention .link .weibo:hover{
	background-position: -75px -0;
}
.attention .link .wechat:hover{
	background-position: -75px -75px;
}
.attention .link .qqwb:hover{
	background-position: -75px -150px;
}
.attention .link .renren:hover{
	background-position: -75px -225px;
}
.attention .link .douban:hover{
	background-position: -75px -300px;
}

/* sitemap */
.sitemap{
	width: 1000px;
	height: 610px;
	margin: 75px auto 0;
}
.sitemap .title-line{
	max-width: 1000px;
	height: 30px;
	text-align: center;
	margin: 20px auto;
	position: relative;
}
.sitemap .title-line::before{
	content: "";
	width: 97%;
	height: 1px;
	position: absolute;
	left: 1.5%;
	top: 15px;
	background-color: #b7b7b7;
}
.sitemap dt{
	margin-bottom: 20px;
}
.sitemap dl{
	display: inline-block;
	text-align: center;
	width: 240px;
	max-height: 280px;
	margin-bottom: 50px;
}
.sitemap dl a{
	color: #000;
}
.sitemap dl a:hover{
	color: #999;
}
.sitemap .mgb20{
	margin-bottom: 20px;
}
.sitemap .bold{
	font-weight: bold;
}
.sitemap .sitemap-dl{
	font-size: 14px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* footer */
.footer{
	width: 100%;
	height: 180px;
	background-color: #000;
}
.footer .footer-main{
	width: 1000px;
	height: 180px;
	margin: 0 auto;
}
.footer .footer-main a{
	color: #fff;
	font-size: 12px;
	margin: 0 10px;
}
.footer .footer-main .first{
	width: 100%;
	line-height: 30px;
	display: flex;
	justify-content: center;
}
.footer .footer-main .second{
	width: 100%;
	height: 50px;
}
.footer .footer-main .second a{
	width: 66.5px;
	height: 50px;
	margin: 0 auto;
	display: block;
}
.footer .footer-main .second .second-img{
	width: 100%;
	height: 100%;
	background: url(../img/index/header-footer-new2.png) 0 0 no-repeat transparent;
	background-size: 66.5px 50px;
}
.footer .footer-main .third{
	width: 1000px;
	height: 19px;
	color: #fff;
	font-size: 12px;
	line-height: 19px;
	margin: 12px auto;
	display: flex;
	justify-content: center;
}
.footer .footer-main .third a{
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.footer .footer-main .third img{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.footer .footer-main .fourth{
	width: 1000px;
	height: 34px;
}
.footer .footer-main .fourth a{
	display: block;
	width: 60px;
	height: 34px;
	margin: 0 auto;
	position: relative;
}
.footer .footer-main .fourth a img{
	width: 100%;
	height: 100%;
}
.footer .footer-main .fourth a:hover .text,.footer .footer-main .fourth a:hover .point{
	display: block;
}
.footer .footer-main .fourth a .text{
	width: 248px;
	color: #fff;
	font-size: 12px;
	text-align: left;
	line-height: 18px;
	margin-left: -135px;
	padding: 7px 8px;
	background-color: #464646;
	position: absolute;
	left: 50%;
	top: -80px;
	display: none;
}
.footer .footer-main .fourth a .point{
	display: block;
	width: 0;
	height: 0;
	/* margin-left: 51px;
	margin-top: 3px; */
	border: 7px solid transparent;
	border-top-color: #464646;
	position: absolute;
	left: 23px;
	top: -13px;
	display: none;
}